/* You can add global styles to this file, and also import other style files */
body {
  background-color: white;
  background-image: radial-gradient(rgba(#191970, 0.08) 9px, transparent 10px),
    repeating-radial-gradient(
      rgba(#191970, 0.08) 0,
      rgba(#191970, 0.08) 4px,
      transparent 5px,
      transparent 20px,
      rgba(#191970, 0.08) 21px,
      rgba(#191970, 0.08) 25px,
      transparent 26px,
      transparent 50px
    );
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #141414;
}
